.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    .buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    
        .button {
            display: block;
            margin-right: 0px;     
            width: 100%;
        }

        .paymongo {
            background: #37B47E;
        }

        .stripe {
            background: #6860FF;
        }
    } 
}

